*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #003366;
  margin: 0 ;


}

.decoraciones_pag_principal{
  position: relative;
}
.decoracion_superior{
  position: absolute;
  margin: 0;
  top: -40px;
  left: 0;
  width: 100%;
  z-index: -1;
}
.decoracion_inferior{
  position: absolute;
  top: 590px;
  width: 100%;
  z-index: -1;
  left: 0;
  /* he ight: 90%; */
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
    /* width: 1 0%; */
}
.titulo_proyecto{
  width: 30%;
  

}

.botones_pag_principal{
  display: flex;
  justify-content: center;
  gap: 15%;
  margin-top: 120px;
}

.boton_principio{
  background-color: #F5F5DC;
  color: #003366;
  padding: 25px 90px;
  border-radius: 15px;
  font-size: 17px;
}

.boton_principio:hover{
  background-color: #8a8a8a;
  border: none;
}




.decoracion_parte_izquierda{
  position: absolute;
  left: 190px;
  top: 35px;
}
.decoracion_parte_derecha{
  position: absolute;
  top: 35px;
  right: 210px;
}

.textos_pag_principal{
  display: flex;
  flex-direction: column;
}
.primer_texto{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #3b58ff;
  font-size: 28px;
  margin-top: 75px;
  padding: 20px;
  
}
.segundo_texto{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #3b58ff;
  font-size: 28px;
  margin-top: 50px;
  padding: 20px;
  
}
/* .tercer_texto{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a1a1a1;
  font-size: 35px;
  margin-top: 50px;
  font-weight: 900;
  text-shadow: 2px 4px 0 #727272;
} */
.logos_calzados{
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.imagen_zapato{
  width: 5%;
}