*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #717171;
  margin: 0 ;
  
}
.ventana{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  width: 100%;
  justify-items: center;
}
.ventana_registro{
  
  margin-top: 70px;
  background-color: #fff;
  width: 600px;
  height: 800px;
  border-radius: 15px;
  box-shadow:15px 10px 15px #525252;
}
.titulo_registro{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  
}
.texto_titulo{
  font-weight: 700;
}