<div class="holaa">
  <div id="header-container"></div>
  <div id="sidebar-container"></div>

  <main class="registro-producto">
    
    <section class="contenedor_formulario">
    <form id="formularioProducto" class="formulario">
      <h2 class="formulario__titulo">Registrar Producto</h2>
      <!-- Nombre -->
      <label for="nombreProducto" class="formulario__texto">Nombre del producto:</label>
      <input 
        type="text" 
        id="nombreProducto" 
        name="nombreProducto" 
        maxlength="100" 
        placeholder="Ingrese el nombre del producto" 
        required
        class="formulario__input"
      />

      <!-- Descripción -->
      <label for="descripcionProducto" class="formulario__texto">Descripción:</label>
      <textarea 
        id="descripcionProducto" 
        name="descripcionProducto" 
        maxlength="255" 
        placeholder="Ingrese una descripción del producto"
        required
        class="formulario__input"
      ></textarea>

      <!-- Precio -->
      <label for="precioProducto" class="formulario__texto">Precio:</label>
      <input 
        type="number" 
        id="precioProducto" 
        name="precioProducto" 
        step="0.01" 
        placeholder="Ingrese el precio" 
        required
        class="formulario__input"
      />

      <!-- Empresa -->
      <label for="empresa" class="formulario__texto">Empresa:</label>
      <select id="empresa" name="empresa" required class="formulario__input">
        <option value="">Seleccione una empresa</option>
        <!-- JS llenará las empresas desde la API -->
      </select>

      <!-- Imagen -->
      <label for="imagen" class="formulario__texto">Imagen:</label>
      <select id="imagen" name="imagen" required class="formulario__input">
        <option value="">Seleccione una imagen</option>
        <!-- JS llenará las imágenes desde la API -->
      </select>

      <!-- Estado -->
      

      <!-- Botones -->
      <button type="submit" class="boton boton--formulario">Registrar Producto</button>
      <a href="#productos/tablaProductos" class="boton boton--formulario">
        <button type="button">Ver Productos</button>
      </a>
    </form>
    </section>
    <div id="respuesta"></div>
  </main>
</div>
