.contenedor_formulario{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.formulario {
  background-color: #8B5E3C;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(155, 91, 85, 0.6);
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 280px;
  text-align: center;
}

.formulario--width{
  width: 400px;
}

.formulario__titulo {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F5F5DC;
  padding-bottom: 5px;
  color: #ffffff;
}

.formulario__texto {
  font-weight: bold;
  font-size: 15px;
  color: #fffdfd;
}

.formulario__input {
  text-align: center;
  padding: 10px;
  background-color: #F5F5DC;
  color: #8B5E3C;
  border: 1px solid #F5F5DC;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}

.formulario__input:focus {
  border-color: #999;
  outline: none;
}

