<!-- componentes/header.html -->


<header class="encabezado__pagina_catalogo">
  <div class="logo">
    <img src="../img/Group 10.png" alt="Classic Prestige MEN">
  </div>
  <div class="cuenta">
    <a href="./perfil_usuario.html">
      <i class="ri-user-fill"></i> 
      <span>Cuenta</span>
    </a>
    <!-- Enlace para registrarse que lleva a la página registro sin restricciones -->
    <a href="../html/pagina_registro.html" class="registrarse-link" style="margin-left: 20px;">
      <i class="ri-edit-box-fill"></i> 
      <span>Registrar Usuario</span>
    </a>
  </div>
</header>
