
<aside class="sidebar">
  <div class="sidebar-items">
    <a href="#catalogo" class="sidebar-item"><i class="bi bi-app sidebar-item__icono"></i>Catálogo</a>
    <a href="#catalogoTalla" class="sidebar-item" > <i class="bi bi-funnel sidebar-item__icono"></i>Tallas</a>
    <a href="#catalogoEmpresa" class="sidebar-item"> <i class="bi bi-funnel sidebar-item__icono"></i>Empresas</a>
    <a href="#pedido" class="sidebar-item"><i class="bi bi-cart-plus sidebar-item__icono"></i>Carrito</a>
    
  </div>
</aside>
