
<aside class="sidebar">
  <div class="sidebar-items">
    <a href="#usuarios" class="sidebar-item"><i class="bi bi-person-vcard sidebar-item__icono"></i>Usuarios</a>
    <a href="#ciudades" class="sidebar-item"><i class="bi bi-geo-alt sidebar-item__icono"></i>Ciudades</a>
    <a href="#tallas" class="sidebar-item"><i class="bi bi-tags sidebar-item__icono"></i>Tallas</a>
    <a href="#empresas" class="sidebar-item"><i class="bi bi-shop-window sidebar-item__icono"></i>Empresas</a>
    <a href="#imagenes" class="sidebar-item"><i class="bi bi-image sidebar-item__icono"></i>Imagenes</a>
    <a href="#pagos" class="sidebar-item"><i class="bi bi-cash-coin sidebar-item__icono"></i>Pagos</a>
    <a href="#productos" class="sidebar-item"><i class="bi bi-columns-gap sidebar-item__icono"></i>Productos</a>
  </div>
</aside>
