<div class="ventana">
    <section class="ventana_registro">
      <div class="titulo_registro">
        <img src="../../img/Group 7.png " class="texto_titulo">
        <div class="campos_registro">
          <section class="seccion_campos_registro">
            <form id="formLogin" novalidate>
              
              <div>
                <input class="input" type="text" name="correo" placeholder="Correo electrónico">
              </div>
              <div>
                <input class="input" type="password" name="contrasena" placeholder="Contraseña">
              </div>
              
              
            
            </form>

          </section>
          <div class="boton">
          
                <button type="submit" id="btnLogin"  class="boton_registrarse" >INICIAR SESION</button>
              
              
              </div>
        </div>
        
      </div>
    </section>
    
  </div>