<section id="seccion1" class="primera__seccion">
  <header class="encabezado__pagina_principal">
    <ul class="encabezado__contenedor">
      <li class="encabezado__contenedor_textos">
        <a href="#seccion2" class="encabezado_textos_independientes">Info extra</a>
      </li>
      <p class="parrafo_separacion">|</p>
      <li class="encabezado__contenedor_textos">
        <a href="#login" class="encabezado_textos_independientes">Iniciar sesión</a>
      </li>
      <p class="parrafo_separacion">|</p>
      <li class="encabezado__contenedor_textos">
        <a href="#contacto" class="encabezado_textos_independientes">Contactos</a>
      </li>
    </ul>
  </header>

  <div class="contenedor__primera_informacion_imagenes">
    <img src="../../../public/Group7.png" class="img__logo">
    <img src="/src/img/Group 9.png" class="img__primer_zapato">
    <img src="/src/img/Group 9.png" class="img__segund_zapato">
  </div>

  <div class="contenedor__segunda_informacion_imagenes">
    <img  class="img__calzado_presentacion">
    <img  class="img__calzado_informacion" >
    <p class="contenedor__informacion_input">CLASSIC PRESTIGE MEN</p>
    <img src="/src/img/Group 9.png" class="img__zapato">
    <p class="contenedor__informacion_texto">PÓNGASE CÓMODO... ¡EL CALZADO QUE LE ENCANTA LO ESPERA!</p>
    <a href="#registro">
      <button class="contenedor__informacion_boton">REGISTRARSE</button>
    </a>
  </div>
</section>

<section id="seccion2" class="segunda__seccion">
  <div class="logo__imagen">
    <a href="#home"><img src="/src/img/Group 7.png" class="logo__segunda_seccion"></a>
  </div>
  <div class="titulo__segunda_seccion">
    <p class="b">¿Por qué elegirnos?</p>
  </div>
  <div class="texto__segunda_seccion">
    <p class="a">Ofrecemos calidad superior, variedad en estilos y tallas, precios competitivos, una experiencia de compra segura y un servicio al cliente dedicado. Explora nuestro catálogo y encuentra el par perfecto para cada ocasión.</p>
  </div>
</section>

<footer id="contacto" class="pie__pagina">
  <div class="pie__contenedor">
    <div class="pie__informacion">
      <h3>Contáctanos</h3>
      <p>Email: contacto@classicprestige.com</p>
      <p>Teléfono: +57 300 123 4567</p>
      <p>Dirección: Calle 123 #45-67, Bogotá, Colombia</p>
    </div>
  </div>
  <div class="pie__creditos">
    <p>&copy; 2025 Classic Prestige MEN. Todos los derechos reservados.</p>
  </div>
</footer>
