*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: grid;
  background-color: #F5F5DC;
  grid-template-columns: 290px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar content';
}


/*FORMUILARIOOO PEDIDDOOOOO*/
.formulario-pedido {
  max-width: 500px;
  margin: 40px auto;
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario-pedido h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.formulario-pedido label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.formulario-pedido input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario-pedido button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.formulario-pedido button:hover {
  background-color: #333;
}
