  <div class="ventana">
    <section class="ventana_registro">
      <div class="titulo_registro">
        <img src="../../../public/Group7.png" class="texto_titulo"></div>
        <div class="campos_registro">
          <section class="seccion_campos_registro">
            <form id="formRegistro" novalidate class="formulario">
              <div>
                <input class="input" id="nombre" type="text" name="nombre" placeholder="Nombre completo">
              </div>
              <div>
                <input class="input" id="telefono" type="tel" name="telefono" placeholder="Teléfono">
              </div>
              <div>
                <input class="input" id="correo" type="text" name="correo" placeholder="Correo electrónico">
              </div>
              <div>
                <input class="input" id="contrasena" type="password" name="contrasena" placeholder="Contraseña">
              </div>
              <div>
                <input class="input" id="confirmaContrasena" type="password" name="confirmaContrasena" placeholder="Confirmar contraseña">
              </div>
              <div class="form_ciudad">
                <select name="ciudad" id="ciudad" class="select_content">
                  <option value="">Seleccionar la ciudad...</option>
                </select>
              </div>
              <div class="form_rol">
                <select name="rol" id="rol" class="select_content">
                  <option value="">Elegir el rol...</option>
                </select>
              </div>
              
            </form>
          </section>
        </div>
        <div class="boton">
                <!-- ✅ Botón con clase que tu JS busca -->
                <button type="submit" id="btnRegistro" class="boton_registrarse">REGISTRARSE</button>
                <a href="#login" class="cambio-pagina">¡Ya tengo cuenta!</a>
              </div>
      </div>
    </section>
  </div>
